body{
	margin: 0 auto;
	font-family: arial, helvetica, serif;
	font-size: 15px;
	background-color: #ddd;
}

#global_content{
	position: relative;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	border: solid #172530 2px;
	background-color: #fff;
}

/*
 * HEADER STYLE
 */


#header{
	height: 60px;
	background-color: #172530;
}
	.header-thing{
		position: relative;
		margin-left: 100px;
		margin-right: 100px;
		margin-top: 5px;
	}
		#div-image{
			float: left;
			width: 40px;
		}
			#main-image{
				width: 100%;
			}

		#div-title{
			float: right;
			color: white;
			font-weight: bold;
			font-size: 20px;
			font-style: italic;
			width: 270px;
			margin-top: 18px;
		}

/*
 * CONTROL STYLE
 */

#button_on_off{
	border: solid #172530 2px;
	background-color: #172530;
	padding: 5 10 5 10;
	color: white;
	font-weight: bold;
}



